@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Playwrite";
  src: url("/fonts/Playwrite_AT/PlaywriteAT-VariableFont_wght.ttf");
}

@layer base {
  html {
    @apply font-base;
    @apply text-base-content;
  }
}
